<!DOCTYPE html>
<html lang="en" ng-app="topicsApp">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <!-- Change title, description and keywords -->
    <title>@ViewBag.Title - Discussion Board</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <!-- HTML5 Support for IE -->
    <!--[if lt IE 9]>
    <script src="~/scripts/html5shim.js"></script>
    <![endif]-->
    <!-- Google Web Font -->
    <link href='http://fonts.googleapis.com/css?family=Dosis:200,400,600' rel='stylesheet' type='text/css'>

    <!-- Stylesheets -->
    <link href="~/Content/Template/style/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/Template/style/font-awesome.css">
    <!--[if IE 7]>
    <link rel="stylesheet" href="~/Content/Template/style/font-awesome-ie7.css">
    <![endif]-->

    <link href="~/Content/Template/style/ddlevelsmenu-base.css" rel="stylesheet">
    <link href="~/Content/Template/style/ddlevelsmenu-topbar.css" rel="stylesheet">
    <link href="~/Content/Template/style/style.css" rel="stylesheet">
    <!-- Change the template color below. Supported colors blue,red and green. -->
    <link href="~/Content/Template/style/blue.css" rel="stylesheet">
    <link href="~/Content/Template/style/bootstrap-responsive.css" rel="stylesheet">
    <link href="~/Content/Template/style/flexslider.css" rel="stylesheet">
    <link href="~/Content/Template/style/prettyPhoto.css" rel="stylesheet">
    <link href="~/Content/font-awesome-4.2.min.css" rel="stylesheet" />
    <link href="~/Content/toastr.css" rel="stylesheet" />
    <!-- Our Custom Styles -->
    <link href="~/Content/Site.css" rel="stylesheet" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/Content/Template/img/favicon/favicon.png">
</head>

<body>

    <!-- Sliding share panel. Click "Share it" to see. -->

    <div class="sharepanel">
        <div class="container">
            <div class="row">
                <div class="span8">
                    <div class="padd spara">
                        <!-- Small para -->
                        <p>Feel free to share this App!</p>
                    </div>
                </div>
                <div class="span4">
                    <div class="padd">
                        <div class="social">
                            <!-- Social media icons. Repalce # with your profile links -->
                            <a href="https://www.facebook.com/NASDAQ" target="_blank">
                                <img src="~/Content/Template/img/facebook.png" alt="FB" width="40" />
                            </a>
                            <a href="https://twitter.com/nasdaq" target="_blank">
                                <img src="~/Content/Template/img/twitter.png" alt="Twitter" width="40" />
                            </a>
                            @*<a href="#">
                                    <img src="~/Content/Template/img/linkedin.png" alt="" width="40" />
                                </a>*@
                            <a href="https://plus.google.com/+nasdaq" target="_blank">
                                <img src="~/Content/Template/img/googleplus.png" alt="" width="40" />
                            </a>
                            <a href="#">
                                <img src="~/Content/Template/img/rss.png" alt="" width="40" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    <!-- Header -->

    <div class="fixedbar">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="logo">
                        <div class="pull-left">
                            <!-- Logo with font awesome icon (icon-camera-retro). Replace it with your logo. Replace # with your site link -->
                            <h1><a href="#/"><i class="icon-camera-retro"></i>Discussion Board</a></h1>
                          @*  <h1 class="alert-heading">
                                <img src="~/Content/Template/img/nasdaq.png" /> <strong>Discussion Board</strong>
                            </h1>*@
                        </div>
                     
                        <div class="navbar-collapse navbar">
                            <ul class="nav navbar-nav">
                                <li></li>
                                <li style="padding-left: 10px;"><strong><a href="#/">Home</a></strong></li>
                                <li style="padding-left: 10px;"><strong><a href="#/newTopic">New Topic</a></strong></li>
                                <li style="padding-left: 10px;"><strong>@Html.Partial("_LoginPartial")</strong></li>
                            </ul>
                            <!-- Navigation Ends Here -->
                        </div>
                    </div>
                    @* By default canEdit will be false for anonymous users *@

                    @if (HttpContext.Current.User.Identity.IsAuthenticated)
                    {
                        //Store Role of the user in a session
                        if (HttpContext.Current.User.IsInRole("Admin"))
                        {
                            ViewBag.CanEdit = "true";
                            
                        }
                        else
                        {
                            ViewBag.CanEdit = "false";
                        }
                    }
                    else
                    {
                        ViewBag.CanEdit = "false";
                    }
               @*     <div class="share">
                        <div class="pull-right">
                            <!-- Share it link for slider -->
                            <p>
                                <a href="#/" class="open"><span class="hidden-phone">Share it</span> <i class="icon-share"></i></a>
                            </p>
                        </div>
                    </div>*@

                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <!-- Main content -->

    <div class="main">
        <div class="container">
            <div class="row">
                <div class="span12 hidden-desktop">
                    <div class="padd">
                        <div class="navis"></div>
                    </div>
                </div>
                @RenderBody()
            </div>
        </div>
    </div>

    <!-- Foot -->
    <!-- Three column footer -->
    <div class="foot">
            <div class="container">
                <div class="row">
                    <div class="span4">
                        <div class="padd">
                            <!-- Add class "widget" -->
                            <div class="widget">
                                <!-- Title -->
                                <h3>About My View</h3>
                                <!-- Content -->
                                <!-- Below is the blockquote -->
                                <blockquote>
                                    <p>My View is my blog, where I keep all the learning resources at one place. This is one stop hub for all kind of Learning Resources! <strong><a href="http://www.myview.rahulnivi.net" target="_blank">My View</a></strong></p>
                                    <!-- Author information -->
                                   <small>Rahul Sahay</small>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                    <div class="span4">
                        <div class="padd">
                            <div class="widget">
                                <h3>About Me</h3>
                                <blockquote>
                                    <p><a href="http://www.rahulsahay.com" target="_blank">Rahul Sahay</a></p>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                    <div class="span4">
                        <div class="padd">
                            <div class="widget">
                                <h3>Books</h3>
                                <ul>
                                    <li><a href="http://ow.ly/Jh4bI" target="_blank">Building SPA with MVC 5 and Angular</a></li>
                                    <li><a href="http://bit.ly/ng-kindle" target="_blank">Getting Started With Angular JS</a></li>
                                    <li><a href="http://amzn.to/1SxuhhJ" target="_blank">Pragmatic WCF</a></li>
                                    <li><a href="http://amzn.to/1UFhzn5" target="_blank">Hands on with ASP.NET MVC</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


     <footer>
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <!-- Copyright information -->
                        <div class="fpadd">Copyright &copy; @DateTime.Now.Year - <a href="http://www.rahulsahay.com/" target="_blank">Rahul Sahay</a></div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </footer>

    <!-- JS -->
    <script type="text/javascript" src="~/Scripts/jquery-2.0.2.min.js"></script>
    <script type="text/javascript" src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.js"></script>

    <script src="~/scripts/easing.js"></script>
    <script src="~/scripts/bootstrap.js"></script>
    <script type="text/javascript" src="~/scripts/ddlevelsmenu.js"></script>
    <script type="text/javascript" src="~/scripts/flexslider.js"></script>
    <script type="text/javascript" src="~/scripts/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="~/scripts/custom.js"></script>
    <script src="~/Scripts/bootbox.min.js"></script>
    <script src="~/Scripts/toastr.js"></script>
    @* Custom JS *@
    <script src="~/Scripts/dirPagination.js"></script>
    <script src="~/js/app.js"></script>
    <script src="~/js/dataService.js"></script>
    <script src="~/js/home-index.js"></script>
    <script src="~/js/newTopicController.js"></script>
    <script src="~/js/singleTopicController.js"></script>
    <script src="~/js/imageUploadController.js"></script>
    <script src="~/js/editTopicController.js"></script>
    <script src="~/js/fileUploadTopicController.js"></script>
    <script src="~/js/fileDownloadTopicController.js"></script>
    <script src="~/js/fileDownloadIndividualController.js"></script>
    @*<script src="~/js/canEdit.js"></script>*@

    @RenderSection("scripts", required: false)

    <!-- Get Server Data -->
    <script>
        angular.module("topicsApp").value("canEdit", @ViewBag.CanEdit);
    </script>

</body>
</html>
