@model TopicsBoard.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}


<div class="panel-heading">
    <h2 class="panel-title">Please sign in</h2>
</div>
<section id="loginForm">

    @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <h3>User Name</h3>
            
            @Html.TextBoxFor(m => m.UserName)
            @Html.ValidationMessageFor(m => m.UserName)
            
            <h3>Password</h3>
            @Html.PasswordFor(m => m.Password)
            @Html.ValidationMessageFor(m => m.Password)

            <div>
                @Html.ActionLink("Back", "Index", "Home", routeValues: null, htmlAttributes: new { id = "homelink", @class = "btn btn-info fa icon-home" })
                <button type="submit"><i class="btn btn-primary fa icon-signin"></i> <strong> Login</strong></button>
                @*<input type="submit" value="Log in" class="btn btn-primary"/>*@
            </div>
        </fieldset>
        
    }
</section>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
